<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <h1>Thank you for your interest!</h1>
        <p>We'll be in touch with you shortly.</p>
        <a href="/">Return to Home</a>
    </main>
</body>
</html>