<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/checkout.css">
</head>
<body>
    <div class="checkout-container">
        <h1>Checkout for Delorean</h1>
        <p>Please fill out the form to express your interest.</p>
        <form action="/thankyou" method="get">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br><br>
            
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>
            
            <label for="message">Message:</label><br>
            <textarea id="message" name="message"></textarea><br><br>
            
            <input type="submit" value="Submit Order">
        </form>
    </div>
</body>
</html>